header{
    background-color: lightblue;
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}


#main-area{
    display: flex;
}

button{
    width: 250px;
    margin-top: 15px;
}

.my-card{
    height: 250px;
    width: 200px;
    padding: 18px;
    border-radius: 5%;
    margin: 8px;
}

#top-right{
    display: flex;
    justify-content: center;
}

#right-section{
    display: flex;
    flex-direction: column;
}

#bottom-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#todays-weather{
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
}

#day1, #day2, #day3, #day4, #day5{
    list-style-type: none;
}

h3{
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 40px;
}

h4{
    font-weight: bold;
    font-size: 30px;
    padding-top: 30px;
}

#search-history{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    #top-right{
        width: 400px
    }
}